@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

body {
  margin: 0;
  background-color: #f8fdff;
  font-family: "Avenir", sans-serif; 
  font-size: 22px; 
  line-height: 1.5em;
  font-weight: normal;
  color: #00004D;
}

.wrapper {
  margin: 0;
}

header{
  display: block;
  width: 100%;
  background-color: #b2d7e6;
}

h1 {
  display: inline-block;
  padding: 10px 0 10px 50px;
  font-family: "Unica One", sans-serif;
  font-size: 3.2em;
  line-height: 0em;
  font-weight: 600;
  color: #0C4A60;
}  

.nav-links-top {
  float: right;
  padding: 0 .9em;
  font-size: .8em;
  color:#00004D;
  text-decoration:none;
}

.hero-image{
  background-image: linear-gradient(rgba(255,255,255, 0.4), rgba(255,255,255, 0.2)), url(https://res.cloudinary.com/rocketmiles/image/upload/v1570682876/social/jeremy-perret-4rV-j4yPvs8-unsplash.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
  display: inline-block;
  text-align: left;
  padding: 2.5em 0 0 2.5em;
}

#headline {
  font-size: 1.4em;
  font-weight: 700;
} 

button {
  background-color: #FFCE3B;
  padding: 1.25em 2.5em;
  border: none;
  border-radius: 8px;
  font-size: .8em;
  font-weight: 500;
}

#main {
  margin-top: 2.5em;
  margin-bottom: 3em;
}

#subhead {
  text-align: center;
  margin: 0 2em 1.5em 2em;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
}

.row {
  display: block;
  text-align: center;
}

#explore {
  width:29%;
  max-width: 260px;
  height: auto; 
  padding-right: 5px;
}

#plan {
  width:29%;
  max-width: 260px;
  height: auto; 
  padding-right: 10px;
  padding-left: 10px;
}

#pack {
  width:29%;
  max-width: 260px;
  height: auto; 
  padding-left: 5px;
}

footer {
  width: 100%;
  position: absolute;
  padding: 1.5em 0 3em 0;
  background-color: #B2D7E6; 
  text-align: center;  
}

#footer-copy {
  font-size: 1.1em;
  font-weight: 600;
}

.nav-links-bottom {
  text-align: center;
  margin: 0px auto .2em;
}

.nav-links-bottom-style {
  padding: 0px 35px;
  font-size: .9em;
  color:#00004D;
  text-decoration:none;
}

.social-links {
  display: inline;
  margin: 0 auto;
}

.social-icons {
  padding: 1.5em 1em 1.4em 1em;
  max-width: 50px;
}